/*=============================================================================
    Author: Rubin Trailor
=============================================================================*/

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow: auto;
    background-image: url("../images/san-francisco.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

h1 {
    font-size: 410%;
    padding: 1%;
}

h2 {
    font-size: 250%;
    padding: 1%
}

h3 {
    font-size: 250%;
    margin: 1.5%;
    margin-bottom: 2%;
}

h4 {
    font-size: 150%;
}

p {
    font-size: 115%;
    line-height: 100%;
}

#nav-bar {
    padding: 1.5%;
    font-size: 125%;
    text-align: center;
}

#nav-bar li {
    display: inline;
}

#nav-bar li a {
    color: #AAA;
    text-decoration: none;
    margin-left: 3.5%;
}

.hidden {
    display: none;
}

.icon {
    float: left;
    cursor: pointer;
    font-size: 250%;
    text-align: left;
    margin-top: 5%;
    margin-left: 5%;
    color: #FFF;
    text-shadow: 1px 1px 1px #111;
    position: fixed;
    transition: color .2s ease-in-out;
    transition: font-size 0.2s ease-in-out;
}

.menu {
    text-shadow: 1px 1px 1px #111;
    text-align: left;
    background-color: #222;
    color: #FFF;
    font-size: 160%;
    left: -20%;
    height: 100%;
    max-height: 100%;
    position: fixed;
    width: 20%;
}

.menu ul {
    margin: 10% 5%;
}

.menu ul li {
    margin-bottom: 5%;
}

.menu ul li {
    color: #FFF;
    transition: color .2s ease-in-out;
    cursor: pointer;
}

.menu hr {
    width: 85%;
    vertical-align: bottom;
}

.menu p {
    font-size: 50%;
    text-align: center;
}

.menu .bottom {
    margin-top: 150%;
    text-align: center;
}

#resume-button {
    text-align: center;
    color: #FFF;
    font-size: 100%;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.opening-container {
    text-align: center;
    background-size: con;
    color: #FFF;
    height: 100%;
    position: relative;
}

.opening-text {
    padding-top: 15%;
    text-shadow: 1px 1px 5px #000;
}

.opening-text h1 {
    margin-bottom: 1%;
    padding-bottom: 0;
}

.opening-text h2 {
    margin-top: 0;
    padding-top: 0;
}

.opening-text hr {
    height: 1px;
    color: #FFF;
    background-color: #FFF;
    width: 80%;
}

.button-links {
    margin-bottom: 1%;
}

.button-links li {
    display: inline;
    margin-right: 2%;
}

.button-links li a {
    color: #FFF;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    transition: font-size 0.2s ease-in-out;
    font-size: 250%;
}

.bio {
    margin: 1% 20%;
    padding: 2%;
    line-height: 150%;
}

.inner-container {
    background-color: #111;
    overflow: auto;
    padding: 3%;
}

.inner-container h1 {
    margin-bottom: 2%;
}

.project-container {
    margin: 1% 5%;
}

.project-container h2 {
    font-size: 135%;
    padding-left: 0;
    margin-bottom: 1%;
    color: #FF7562;
}

.project-container img {
    width: 85%;
    padding: 0;
    margin: 0;
    margin-bottom: 7.5%;
    border-radius: 0;
}

.project-container p {
    font-size: 115%;
    text-align: left;
    line-height: 110%;
}

.project-container .left-container {
    margin: 0;
}

.project-container .right-container a {
    display: block;
    color: #4582EC;
    text-decoration: none;
    margin-top: 2%;
    font-size: 115%;
}

.inner-container hr {
    margin-bottom: 4%;
}


.work-container {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

.work-container h2 {
    font-size: 150%;
    padding-left: 0;
    margin-left: 0;
    color: #4582EC;
}

.work-container h2 span {
    color: #AAA;
}

.work-container p {
    font-size: 115%;
    line-height: 125%;
    margin-bottom: 2%;
}

.left-container {
    float: left;
    text-align: left;
    margin: 3% 20%;
    margin-left: 10%;
    width: 40%;
}

.left-container h2 {
    padding-left: 0;
    font-size: 130%;
}

.left-container p {
    line-height: 150%;
}

.right-container {
    text-align: left;
    margin-left: 50%;
}

#usf-picture {
    width: 40%;
    height: 40%;
    border: 2px solid #FFF;
    border-radius: 15px;
    padding: 0;
}
