/* 
  Screen breakpoints
  tablet: 640px;
  laptop: 1024px;
  desktop: 1280px;
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

/* Custom Properties */
:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;
  --fw-reg: 300;
  --fw-bold: 900;
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #8fc1e3;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  --bs-smaller: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  --portfolio-modal-padding: 1.125em;
}

/* General Styles */
body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  min-height: 100vh;
}

nav {
  height: 5rem;
  background-color: var(--clr-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.logo a {
  font-size: 1.5rem;
  color: var(--clr-light);
  text-decoration: none;
}

nav label i {
  font-size: 2rem;
}

.nav-links {
  list-style: none;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 2.5rem;
  right: 0;
  width: 100%;
  background-color: var(--clr-dark);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: all 0.9s;
}

.nav-links li {
  margin-left: 0;
  text-align: center;
  padding: 0.5rem 0;
}

.nav-links li a {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: var(--clr-light);
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--clr-accent);
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + .menu-icon + .nav-links {
  display: flex;
}

.menu-icon {
  display: block;
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--clr-light);
}

/* Navbar - Laptop */
@media (min-width: 1024px) {
  nav {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    right: 0;
    width: auto;
  }

  .nav-links li {
    margin-left: 2.5rem;
  }

  .menu-icon {
    display: none;
  }
}

/* Hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.hero .hero-image-container img {
  width: auto;
  height: auto;
  max-width: 340px;
  max-height: 400px;
}

.introduction h1 {
  overflow: hidden;
  white-space: nowrap;
  margin: auto;
  /* letter-spacing: 0.25rem; */
  animation: typing 1.5s steps(20, end);
  font-size: 2.5rem;
}

.introduction p {
  font-size: 1rem;
  margin: 0 2rem;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--clr-dark);
  }
}

.social-list {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list span {
  background-color: var(--clr-accent);
  height: 1.5px;
  width: 4rem;
}

.social-list div {
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.social-list div a {
  text-decoration: none;
  color: var(--clr-dark);
  transition: transform 0.5s ease;
}

.social-list div a:hover {
  transform: rotate(360deg);
  opacity: 90%;
}

.desktop-social-list {
  display: none;
}

/* Hero - Laptop */
@media (min-width: 1024px) {
  .hero {
    gap: 4rem;
    flex-direction: row-reverse;
    text-align: left;
  }

  .hero .hero-image-container img {
    max-width: 540px;
  }

  .hero-image-container {
    margin-right: 10rem;
  }

  .introduction {
    margin-left: 10rem;
  }

  .introduction h1 {
    font-size: 5rem;
    margin: 0;
  }

  .introduction p {
    margin-left: 0;
    font-size: 1.75rem;
  }

  .mobile-social-list {
    display: none;
  }

  .desktop-social-list {
    display: flex;
    justify-content: flex-start;
    margin-top: 8rem;
  }

  .social-list div {
    font-size: 2.25rem;
  }

  .social-list span {
    background-color: var(--clr-dark);
    height: 1.5px;
    width: 15rem;
  }
}

@media (min-width: 2000px) {
  .social-list {
    margin-left: 50rem;
  }
}

/* Buttons */
.hero-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
  gap: 1.25rem;
  align-items: center;
}

.button {
  text-decoration: none;
  border: 1px solid var(--clr-dark);
  color: var(--clr-dark);
  font-size: 1.5rem;
  padding: 0.25rem 3rem;
  box-shadow: 0.5rem 0.5rem var(--clr-dark);
  transition: box-shadow 0.3s ease-in-out;
  max-width: 215px;
  min-width: 215px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button span {
  position: relative;
  z-index: 2;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: var(--clr-accent);
  z-index: -1;
  transition: clip-path 0.3s ease-out;
}

/* Buttons - Laptop */
@media (min-width: 1024px) {
  .hero-buttons {
    flex-direction: row;
    gap: 2rem;
    padding-left: 0;
  }
}

.button::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.button:hover::before {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

.button:active::before {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

.secondary-button::before {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

.secondary-button:hover::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.secondary-button:active::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.button:hover {
  box-shadow: 0 0 var(--clr-dark);
}

main {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  max-width: 1280px;
}

/* About Me */
.about-me {
  text-align: center;
  margin-bottom: 4rem;
}

.about-me-header h2 {
  font-size: 2.75rem;
  margin-top: 4.25rem;
  margin-bottom: 1rem;
}

.to-fade-in {
  z-index: -2;
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.about-me-container img {
  max-width: 100%;
  height: 50%;
  object-fit: fill;
  box-shadow: 0.5rem 0.5rem var(--clr-dark);
}

.skill-icons {
  column-gap: 1rem;
  row-gap: 1.5rem;
  justify-content: center;
  margin-top: 1.5rem;
  font-size: 2rem;
}

.mobile-skill-icons {
  display: flex;
}

.desktop-skill-icons {
  display: none;
}

.about-me-container article div p strong {
  display: block;
}

.resume-button-container a {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
}

/* About Me - Laptop */
@media (min-width: 1024px) {
  .about-me {
    margin-top: 10rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 5rem;
  }

  .about-me-header {
    text-align: end;
    min-width: 300px;
  }

  .about-me-header h2 {
    font-size: 4.25rem;
  }

  .about-me-container {
    text-align: start;
  }

  .about-me-container img {
    width: 90%;
    box-shadow: 1.5rem 1.5rem var(--clr-dark);
  }

  .about-me-container article {
    margin-top: 4rem;
  }

  .about-me-container article h3 {
    font-size: 2.25rem;
  }

  .about-me-container article div p {
    font-size: 1.25rem;
  }

  .about-me-container article div p strong {
    display: inline-block;
    margin-right: 0.75rem;
  }

  .mobile-skill-icons {
    display: none;
  }

  .desktop-skill-icons {
    display: flex;
    justify-content: end;
    font-size: 4rem;
  }

  .resume-button-container a {
    margin-left: 0;
    margin-right: 0;
  }
}

/* Projects */
.my-projects {
  margin-top: 6rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.my-projects h2 {
  font-size: 2.75rem;
  margin-bottom: 1.5rem;
}

.my-projects p {
  margin-bottom: 1.5rem;
}

.my-projects a {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.carousel {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  /* box-shadow: 0 0 1rem var(--clr-accent); */
}

.carousel-navdots {
  column-gap: 1rem;
  display: flex;
  justify-content: center;
  /* Not sure if I want to show navdots so hiding for now */
  display: none;
}

.carousel-navdots button {
  -moz-appearance: none;
  -webkit-apperance: none;
  appearance: none;
  border: 0;
  cursor: pointer;
  background-color: var(--clr-dark);
  border-radius: 50%;
  height: 0.75rem;
  padding: 0;
  width: 0.75rem;
}

.carousel-navdots button:focus-visible {
  outline: 2px solid var(--clr-accent);
  outline-offset: 2px;
}

.carousel-navdots button.is-active {
  background-color: var(--clr-accent);
}

.carousel-slides,
.carousel-slide {
  width: 100%;
}

.carousel-slides {
  display: flex;
  column-gap: 20px;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.carousel-slides::-webkit-scrollbar {
  display: none;
}

.carousel-slides.smooth-scroll {
  scroll-behavior: smooth;
}

.carousel-slide {
  flex: 0 0 auto;
  scroll-snap-align: center;
}

.carousel-slide img {
  max-width: 300px;
  border-radius: 1rem;
}

@media (min-width: 1024px) {
  .my-projects {
    display: flex;
    gap: 10rem;
  }

  .my-projects-text-wrapper {
    text-align: start;
  }

  .my-projects h2 {
    font-size: 4.25rem;
    margin-bottom: 1.5rem;
  }

  .my-projects p {
    font-size: 1.25rem;
  }

  .my-projects a {
    margin-left: 0;
  }

  .carousel-slide img {
    max-width: 100%;
  }
}

.contact {
  text-align: center;
  margin-bottom: 4.25rem;
}

.contact h2 {
  font-size: 2.75rem;
  margin-bottom: 0.75rem;
}

.contact p {
  margin-top: 0;
  margin-bottom: 2rem;
}

.contact a {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) {
  .contact h2 {
    font-size: 4.25rem;
  }

  .contact p {
    font-size: 1.25rem;
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

footer {
  background: #111;
  background-image: url(../img/golden-gate-bridge.png);
  background-size: cover;
  color: var(--clr-light);
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}

.footer-container {
  display: grid;
  gap: 1rem;
  justify-content: space-between;
  max-width: 1280px;
}

.footer-container h2 {
  margin-bottom: 0;
  text-transform: uppercase;
}

.footer-container ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0.25rem;
  font-weight: 500;
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.footer-links li a {
  text-decoration: none;
  color: var(--clr-light);
}

.footer-links li span:hover {
  color: var(--clr-accent);
}

.footer-links li a i {
  margin-right: 0.65rem;
}

@media (min-width: 1024px) {
  .footer-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-container h2 {
    font-size: 1.25rem;
  }
}

.consent-box {
  position: fixed;
  bottom: 0;
  background-color: var(--clr-light);
  width: 100vw;
  border-top: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.25rem;
  text-align: center;
  z-index: 50;
}

.consent-box.hide {
  display: none;
}

.consent-box p {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.consent-box p a {
  text-decoration: none;
  color: var(--clr-accent);
  font-weight: bold;
}

.consent-box p a:hover {
  border-bottom: 2px solid var(--clr-accent);
}

.consent-box div {
  display: flex;
  gap: 1rem;
}

.consent-box button {
  border: 1px solid var(--clr-dark);
  padding: 0.9rem 2.75rem;
  border-radius: 5%;
  font-weight: bold;
}

.accept-button {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.decline-button {
  background-color: var(--clr-light);
  color: var(--clr-dark);
}

@media (min-width: 1024px) {
  .consent-box {
    flex-direction: row;
    gap: 3rem;
  }

  .consent-box p {
    font-size: 1.25rem;
  }

  .consent-box button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

/* Contact Page */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;
}

.form-container label input,
textarea {
  padding: 0.75rem;
  width: 100%;
  border: 1px solid var(--clr-dark);
  border-radius: 0.25rem;
}

.form-container button {
  max-width: 100%;
  background-color: var(--clr-accent);
}

@media (min-width: 1024px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
  }

  .contact-container h1 {
    font-size: 4.25rem;
    text-align: center;
    margin-bottom: 0;
  }

  .contact-container p {
    text-align: center;
  }

  .form-container button {
    max-width: 215px;
  }
}

/* Projects */
.projects-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.projects-content {
  flex-grow: 1;
  text-align: center;
}

.projects-content h1 {
  font-size: 3.5rem;
  margin-bottom: 0;
}

.projects-content p {
  font-size: 1.25rem;
}

.projects-header {
  margin-bottom: 3rem;
}

.projects-header a {
  text-decoration: none;
  color: var(--clr-accent);
  font-weight: bold;
}

.projects-header a:hover {
  border-bottom: 2px solid var(--clr-accent);
}

.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.project-card {
  max-width: 100%;
  text-align: start;
  margin-bottom: 3rem;
  text-decoration: none;
  color: var(--clr-dark);
}

.project-card img {
  max-width: 100%;
}

.project-read-more {
  color: var(--clr-accent);
  font-size: 1.5rem;
}

.project-read-more span {
  margin-right: 0.5rem;
}

@media (min-width: 1024px) {
  .projects-wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* Individual Project */
.project-container {
  display: flex;
  flex-direction: column;
}

.project-content {
  margin-top: 4rem;
  flex-grow: 1;
}

.project-wrapper {
  text-align: center;
}

.project-wrapper h1 {
  font-size: 2.25rem;
}

.project-wrapper img {
  width: 100%;
  border-radius: 0.25rem;
}

.project-wrapper p {
  text-align: start;
}

.project-header {
  display: flex;
  flex-direction: column;
}

.project-description {
  display: flex;
  flex-direction: column;
}

.project-technologies {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
}

.technology-icons {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
}

.technology-icon {
  fill: var(--clr-dark);
  height: 5rem;
  width: 5rem;
}

.technology-icon path {
  fill: var(--clr-dark);
}

.project-links {
  display: flex;
  margin-bottom: 4rem;
}

.project-links a {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) {
  .project-header {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .project-header h1 {
    text-align: start;
    line-height: 6.5rem;
    font-size: 6rem;
  }

  .project-header img {
    width: 85%;
  }

  .project-description {
    margin-top: 4.5rem;
    flex-direction: row;
    align-items: center;
  }

  .project-description h2,
  .project-technologies h2 {
    text-align: start;
    font-size: 4rem;
  }

  .project-description p,
  .project-technologies p {
    font-size: 2.25rem;
  }

  .project-description img {
    width: 60%;
  }

  .project-technologies {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .project-technologies h2,
  .project-technologies p {
    text-align: end;
  }

  .project-technologies-description {
    margin-left: 3rem;
  }

  .technology-icons {
    margin-top: 7rem;
  }
}

/* Privacy Policy */
.privacy-wrapper {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.privacy-header h1 {
  font-size: 2rem;
  line-height: 1rem;
}

.privacy-text h2 {
  font-size: 1.25rem;
  line-height: 1rem;
}

.privacy-text p {
  font-size: 1rem;
}

.privacy-text a {
  text-decoration: none;
  color: var(--clr-accent);
  font-weight: bold;
}

.privacy-text a:hover {
  border-bottom: 2px solid var(--clr-accent);
}

@media (min-width: 1024px) {
  .privacy-wrapper {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .privacy-header h1 {
    font-size: 5rem;
    line-height: 4rem;
  }

  .privacy-text h2 {
    font-size: 2rem;
  }

  .privacy-text p {
    font-size: 1.5rem;
  }
}

/* Circle Animation */
/* .button::before {
  clip-path: circle(71% at 50% 50%);
}

.button:hover::before {
  clip-path: circle(0% at 50% 50%);
}

.button:active::before {
  clip-path: circle(0% at 50% 50%);
} */

/* Liquid Animation */
/* .button::before {
  clip-path: path(
    "M0 0C8.33 -8.33 16.67 -12.5 25 -12.5C37.5 -12.5 36.57 -0.27 50 0C63.43 0.27 62.5 -34.37 75 -34.37C87.5 -34.37 87.5 -4.01 100 0C112.5 4.01 112.38 -18.34 125 -18.34C137.62 -18.34 138.09 1.66 150.48 0C162.86 -1.66 162.16 -25 174.54 -25C182.79 -25 191.28 -16.67 200 0L200 200L0 200L0 0Z"
  );
} */
/* .button:hover::before {
  clip-path: path(
    "M0 200C8.33 270.83 16.67 306.25 25 306.25C37.5 306.25 36.57 230.98 50 231.25C63.43 231.52 62.5 284.38 75 284.38C87.5 284.38 87.5 208.49 100 212.5C112.5 216.51 112.38 300.41 125 300.41C137.62 300.41 138.09 239.16 150.48 237.5C162.86 235.84 162.16 293.75 174.54 293.75C182.79 293.75 191.28 262.5 200 200L200 200L0 200L0 200Z"
  );
}

.button:active::before {
  clip-path: path(
    "M0 200C8.33 270.83 16.67 306.25 25 306.25C37.5 306.25 36.57 230.98 50 231.25C63.43 231.52 62.5 284.38 75 284.38C87.5 284.38 87.5 208.49 100 212.5C112.5 216.51 112.38 300.41 125 300.41C137.62 300.41 138.09 239.16 150.48 237.5C162.86 235.84 162.16 293.75 174.54 293.75C182.79 293.75 191.28 262.5 200 200L200 200L0 200L0 200Z"
  );
} */
