body {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0 0 0 0;
}

.banner {
  background-color: #4682B4;
  border: 2px solid #4682B4;
  color: #FFFFFF;
  overflow: auto;
}

.banner #name {
  padding-left: 15px;
  float: left;
}

.banner #back {
  padding-right: 15px;
  padding-top: 15px;
  float: right;
  text-decoration: none;
  color: #FFFFFF;
}

.banner #back:hover {
  font-weight: bold;
}

.description {
  background-color: #4682B4;
  color: #FFFFFF;
  margin-top: 20px;
  padding: 20px 20px 10px 20px;
  overflow: auto;
  text-align: left;
}

.description p {
  padding-left: 20px;
  padding-right: 50px;
}

.description a {
  text-decoration: none;
  color: #FFFFFF;
  padding-left: 20px;
}

svg {
  border: 3px solid #4682B4;
  padding: 10px;
  background-color: #F0F8FF;
}

h1 {
    color: #4682B4;
}

#tooltip {
  font-weight: 600;
  text-shadow: 0px 0px 2px white;
  background-color: #FFFFFF;
  border: 2px solid #4682B4;
  fill: black;
  stroke: none;
}

#details {
  font-size: 12px;
  text-align: left;
}

#mapLegend path {
  display: none;
}

#mapLegend line {
  stroke: #000;
  shape-rendering: crispEdges;
}

#mapLegend text {
  font-size: 12px;
}

#symbolLegend text {
  font-size: 12px;
}

.caption {
  font-size: 14px;
}

path.neighborhood {
  fill: #dddddd;
  stroke: #F0F8FF;
  stroke-width: 3.5px;
}

.active {
  stroke: #FF0000 !important;
  stroke-width: 1.5px !important;
}

circle.symbol {
  fill-opacity: 0.9;
  fill: #000000;
  stroke: #CCCCCC;
  stroke-width: 0.5px;
}

#buttons {
  position: absolute;
  width: 1600px;
  padding: 10px;
  font-size: 12px;
}

/* For screens larger than 1280 */
@media only screen and (min-width: 1281px) {
  #buttons {
    margin-left: 14%;
  }
}

.footer {
  background-color: #4682B4;
  border: 2px solid #4682B4;
  color: #FFFFFF;
  overflow: auto;
}

.footer p {
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 10px;
  float: left;
}
